<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h2>사용자 목록</h2>
  </div>

  <hr class="my-4">
  <div>
    <table class="table">
      <thead>
      <tr>
        <th class="text-center">#</th>
        <th>Name</th>
        <th>Email</th>
        <th class="text-right">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="member : ${members}">
        <td th:text="${member.id}"></td>
        <td th:text="${member.name}"></td>
        <td th:text="${member.contact.email}"></td>
        <td>
          <button type="button" class="btn btn-primary float-end"
                  th:onclick="|location.href='@{/simple/profile/{memberId}(memberId=${member.id})}'|">
          프로필 조회</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div> <!-- /container -->

</body>
</html>
